<h1>Multi-Track Recorder</h1>

<p>A 'multi-track recorder' is a tool that allows recording Projects to have several different layers, or tracks. I like recording</p>



<p><a href="<%= new_project_path %>">Create a new Project</a> to get started!</p>

